.advantages{
  padding: 40px 0 60px;
  &__imgBlock{
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__content{
    margin-top: 20px;
  }
  &__about{
    display: block;
    margin-top: 10px;
    &_middle{
      width: 220px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -20px;
  }
  &__item{
    margin-left: 20px;
    width: 330px;
    text-align: center;
  }
  &__value{
    display: block;
  }
}