.menuBtn {
	display: none;
	width: 30px;
	height: 24px;
	position: relative;
	cursor: pointer;
	span,
	span::before,
	span::after {
		position: absolute;
		display: block;
		top: 50%;
		height: 2px;
		background-color: #000;
	}
	span{
		width: 100%;
	}
	span::before,
	span::after {
		content: '';
		transition: 0.2s;
	}
	span::before {
		width: 100%;
		transform: translateY(-8px);
	}
	span::after {
		width: 100%;
		transform: translateY(6px);
	}
	&.active span{
		height: 0;
	}
	&.active span:before {
		transform: rotate(-45deg);
		width: 100%;
	}
	&.active span:after {
		transform: rotate(45deg);
		width: 100%;
	}
}